<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style/checkout.css">
<title>checkout</title>
</head>
<body>

<div class="navbar">


<a href="Cart1">Cart</a>
     {% if user.is_authenticated %}
  <a href="logout1" >LogOut</a>
     {% endif  %}

  <a href="feedback" >FeedBack</a>
  <!-- <a href="#" class="right">Remove cart Item</a>-->

</div>

  <center>

  <h2>Check List of your items</h2>
      <b>UserName:{{un}}</b>
<div class="checkout">
  <P><b>Grand Total:<span class="gtotal">$1</span></b></P>
</div>
  <table>
    <thead>
      <tr>
        <th>ProdutId</th>
        <th>Product Name</th>
        <th>Price for unit</th>
        <th>Quantity Kgs</th>
        <th>Total</th>
      <th>Remove</th>
      </tr>
    </thead>
    <tbody>
 {% for i in items %}
    <form action="delete" method="post">
      {% csrf_token %}

        <tr>

        <input type="hidden" name="username" value="{{un}}">
        <td>{{i.ProductId}}</td>
        <td>{{i.ProductName}}</td>
          <input type="hidden" name="pid" value="{{i.ProductId}}">
        <td><span id="price{{i.ProductId}}">{{i.Productprice}}</span></td>
        <td><input class="quantity" data-id="{{i.ProductId}}" type="number" class="quantity" name="number"></td>
        <td><input class="total" id="total{{i.ProductId}}" disabled="desabled" type="text" name="total" /></td>
            <td> <input type="Submit" value="Remove"></td>
      </tr>

    </form>
    {% endfor %}
        </tbody>
        </table>
      <div class="checkout">
     <P><b>Grand Total:<span class="gtotal">$1</span></b></P>
     </div>

      <div class="proceded">
          <br>
          <from action="proceded" method="post">
      <input type="submit" value="Proceded">
      </from>
      </div>

<script src="/static/script/__jlive.js"></script>
<script src="/static/script/validation.js"></script>
</body>
</html>
