<html>
<head>
<title>User select</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style/div.css">
</head>
<body>
<div class='right'>
<center>
<h1>Agent Register</h1>
<img src="/static/images/user.jpg" width="70%"><br>
<a href="agent" type="button" class="btn btn-primary">Agent</a>
</center>
</div>
<form action="" >
<div class='left'>
<center>
<h1>Consumer Register</h1>
<img src="/static/images/consumer.jpg" width="70%" ><br>
<a href="consumer" type="button" class="btn btn-primary">Consumer</a>
</center>
</div>
</body>
