<html>
<head>
<title>FARMER Registration Form</title>
<link rel="stylesheet" type="text/css" href="/static/style/farmer.css">
        <script src="/static/script/formvalidation.js">

function myprint() {
  window.print();
}


</script>

</head>
 
<body >

 <div class="decorator">

<br>   
<br>
  <form action="Farmer" method="POST" enctype="multipart/form-data" osubmit="formvalidation">
     {% csrf_token %}
   <div class="navbar">

  <!--<a href="farmerf">Farmers</a>-->
    <a href="Thankyou">Home</a>
    <a href="agentf">Users</a>

    <a href="cropreg" class="right">Crop Registration</a>
    <a href="Cart2" class="right">Add Items to Cart</a>
</div>

<h3><strong>FARMER REGISTRATION FORM </strong></h3>
<br>
<img src="/static/images/Screenshot.png" alt="logo" width="700" height="600">
</div>

<div class="registratin">

<table align="center" cellpadding = "10">
    <tr>
<td>Register Number</td>
<td><input type="number" name="NName" maxlength="30"/>
</td>
</tr>

 <tr>
<td>First Name</td>
<td><input type="text" id="fname" name="FName" maxlength="30"/>
(max 30 characters a-z and A-Z)
</td>
</tr>
 
<tr>
<td>Last Name</td>
<td><input type="text" id="lname" name="LName" maxlength="30"/>
(max 30 characters a-z and A-Z)
</td>
</tr>

<!----- Date Of Birth -------------------------------------------------------->
<tr>
<td>Date Of Birth</td>
 
<td>
 <input type="date" name="bday">
</td>
</tr>

<!----- Email Id ---------------------------------------------------------->
<tr>
<td>Email ID</td>
<td><input type="email" name="EId" maxlength="100"  required /></td>
</tr>
 
<!----- Mobile Number ---------------------------------------------------------->
<tr>
<td>Mobile Number</td>
<td>
<input type="text" id="phone" name="Mnumber" maxlength="10" required />
(10 digit number)
</td>
</tr>
 
<!----- Gender ----------------------------------------------------------->
<tr>
<td>Gender</td>
<td>
Male <input type="radio" name="Gender" value="Male" />
Female <input type="radio" name="Gender" value="Female" />
</td>
</tr>
 
<!----- Address ---------------------------------------------------------->
<tr>
<td>Address <br /><br /><br /></td>
<td><textarea name="Address" rows="4" cols="30" required ></textarea></td>
</tr>
 
<!----- City ---------------------------------------------------------->
<tr>
<td>City</td>
<td><input type="text" name="City" maxlength="30"  required />
(max 30 characters a-z and A-Z)
</td>
</tr>
 
<!----- Pin Code ---------------------------------------------------------->
<tr>
<td>Pin Code</td>
<td><input type="text" name="Pcode" maxlength="6"  required/>
(6 digit number)
</td>
</tr>
 
<!----- State ---------------------------------------------------------->
<tr>
<td>State</td>
<td><input type="text" name="State" maxlength="30"  required />
(max 30 characters a-z and A-Z)
</td>
</tr>

<!----- Country ---------------------------------------------------------->
<tr>
<td>Country</td>
<td><input type="text" name="Country" value="India" readonly="readonly" /></td>
</tr>

 
<!----- Land details---------------------------------------------------------->
<tr>
<td>Total land details</td>
<td> <input type="text" placeholder="Land mesaurements"  name="Landm" required>
<input type="file" name="pic" ></td>
</tr>
 
 <tr>
<td>Crop type:</td>
<td><input type="text" name="Ncrop" maxlength="30" required/>
(max 30 characters a-z and A-Z)
</td>
</tr>

</table>
<!----- Submit and Reset ------------------------------------------------->
<table align="center" cellpadding = "10">
<tr>
<td colspan="2" align="center">
<input  class="lognbtn"type="submit" value="Submit">
<button onclick="myprint()">Print </button>
</td>
</tr>
</table>


</div>
 
</form>

</body>
</html>