<html>
<head>
<title>Welcome to AgroTech</title>
<script src="https://kit.fontawesome.com/1680bae160.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/style/Home.css">

</head>
<body>
<div class="container-fluid banner">
    <div class="row">
	       <div class="col-md-12">
	          <nav class="navbar navbar-md">
	             <div class="navbar-brand"> AGROTECH FARMS</div>
	   
				    <ul class="nav">
		             <li class="nav-item">
		            <a class="nav-link"> <li><a href=".#contact"><i class="fas fa-phone-alt"></i> Contact Us </a></li>

		            <li class="nav-item">
		             <a class="nav-link" ></a><li><a href=".#about"><i class="far fa-user-circle"></i> About Us</a></li>
	                  </li>
		              <li class="nav-item">
		              <a class="nav-link"></a><li><a href="Cart1"><i class="fa  fa-shopping-cart"> </i> Shopping </a></li>
	                  </ul>
			  </nav>
	 </div>
	  
	         <div class="container1">
	              <h1 class="text-center">ONE STOP SHOP FOR FARMERS</h1>
	                <p class="text-center"><b><i>The Farmer is the only man in our economy<br>
				   who buys everything at retail, sells everything at wholesale</i></b></p>
			      <div class="dropdown">
                  <button class="dropbtn">Get Started</button>
                   <div class="dropdown-content">
                    <a href="Login">Login</a>
                    <a href="div">SignUp</a>
               </div>
              </div>
			 </div>

	</div>
</div>
<div class="lop">
<center>
     <iframe id="about" src="aboutus" height="1590" width="1400" style="border:none;"></iframe>
	<br>

	<iframe id="contact" src="contactus" height="830" width="1100"  style="border-top-style: double;"></iframe>
</center>
	</div>

<div class="footer">

<center><h2>Address</h2>
  Head Office
#323 krupanidhi degree collage
Gunur main road
Banglore, India 94158
info@mysite.com

Tel: 080-8555868

Fax: 123-456-7890
</center>
</div>
</body> 
</html>
